
@{
    ViewBag.Title = "Activos";
}
<link href="~/css/Activos.css" rel="stylesheet" />
<script src="~/js/Generals.js"></script>
<script src="~/Jquery Form Steps/js/sweetalert.min.js"></script>
<script src="~/js/Activos.js"></script>


@model IEnumerable<COMMON.Entidades.Activos>



<h5 style="display:none;" class="ml-2" id="Titulo">Activo</h5>


<div id="container">

</div>




@*Modal*@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">

    <div class="modal-dialog modal-dialog-centered modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="ModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>



            <form method="post" id="form" class="border border-right-0 border-left-0 border-secondary rounded pb-5">


                <div class="modal-body">


                    <div class="row border pt-2 pb-2">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label for="Id">Id</label>
                            <input class="form-control" id="Id" name="Id" placeholder="Id" readonly maxlength="50" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Fecha Adquisición</label>
                            <input type="date" class="form-control" id="FechaAdquisicion" name="FechaAdquisicion" placeholder="Fecha Adquisición" required maxlength="200" />
                        </div>


                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label for="Descripcion">Descripción</label>
                            <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripción" required maxlength="500" />
                        </div>
                    </div>


                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Ubicación</label>
                            <select class="form-control" id="UbicacionID" name="UbicacionID" required></select>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Centro De Costos</label>
                            <select class="form-control" id="CentroCostosID" name="CentroCostosID" required></select>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Forma De Adquisición</label>
                            <select class="form-control" id="FormaAdquisicionID" name="FormaAdquisicionID" required></select>
                        </div>


                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Edificio</label>
                            <input type="text" class="form-control" id="Edificio" name="Edificio" placeholder="Edificio" required maxlength="50" />
                        </div>

                    </div>




                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Barcode</label>
                            <input type="text" class="form-control" id="Barcode" name="Barcode" placeholder="Barcode" required maxlength="50" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>No. Serie</label>
                            <input type="text" class="form-control" id="NoSerie" name="NoSerie" placeholder="Número De Serie" required maxlength="50" />
                        </div>


                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Identidicador Activo</label>
                            <input type="text" class="form-control" id="IdentificadorActivo" name="IdentificadorActivo" placeholder="Identificador De Activo" maxlength="50" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Documento</label>
                            <input type="text" class="form-control" id="DocumentoCompra" name="DocumentoCompra" placeholder="Documento" maxlength="100" value=" " />
                        </div>


                    </div>



                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Marca</label>
                            <input type="text" class="form-control" id="Marca" name="Marca" placeholder="Marca" required maxlength="200" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Modelo</label>
                            <input type="text" class="form-control" id="Modelo" name="Modelo" placeholder="Modelo" required maxlength="200" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Piso</label>
                            <input type="text" class="form-control" id="Piso" name="Piso" placeholder="Piso" required maxlength="50" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Epc</label>
                            <input type="text" class="form-control" id="Epc" name="Epc" placeholder="Epc" required maxlength="50" />
                        </div>


                    </div>


                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Dep Acumulada</label>
                            <input type="number" step="0.01" class="form-control" id="DepresiacionAcumulada" name="DepresiacionAcumulada" placeholder="Depresiacion Acumulada" required />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Valor En Libros</label>
                            <input type="number" step="0.01" class="form-control" id="ValorenLibros" name="ValorenLibros" placeholder="Valor En Libros" required />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Costo</label>
                            <input type="number" step="0.01" class="form-control" id="Costo" name="Costo" placeholder="Costo" required />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Estado Del Activo</label>
                            <input type="text" class="form-control" id="EstadoActivo" name="EstadoActivo" placeholder="Estado Del Activo" required maxlength="50" />
                        </div>

                    </div>



                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 1</label>
                            <input type="text" class="form-control" id="Adicional" name="Adicional" placeholder="Adicional" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 2</label>
                            <input type="text" class="form-control" id="Adicional2" name="Adicional2" placeholder="Adicional 2" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 3</label>
                            <input type="text" class="form-control" id="Adicional3" name="Adicional3" placeholder="Adicional 3" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 4</label>
                            <input type="text" class="form-control" id="Adicional4" name="Adicional4" placeholder="Adicional 4" maxlength="200" value=" " />
                        </div>

                    </div>


                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 5</label>
                            <input type="text" class="form-control" id="Adicional5" name="Adicional5" placeholder="Adicional 5" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 6</label>
                            <input type="text" class="form-control" id="Adicional6" name="Adicional6" placeholder="Adicional 6" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 7</label>
                            <input type="text" class="form-control" id="Adicional7" name="Adicional7" placeholder="Adicional 7" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 8</label>
                            <input type="text" class="form-control" id="Adicional8" name="Adicional8" placeholder="Adicional 8" maxlength="200" value=" " />
                        </div>

                    </div>


                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 9</label>
                            <input type="text" class="form-control" id="Adicional9" name="Adicional9" placeholder="Adicional 9" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 10</label>
                            <input type="text" class="form-control" id="Adicional10" name="Adicional10" placeholder="Adicional 10" maxlength="200" value=" " />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 11</label>
                            <input type="number" step="0.01" class="form-control" id="Adicional11" name="Adicional11" placeholder="Adicional 11" value="0" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 12</label>
                            <input type="number" step="0.01" class="form-control" id="Adicional12" name="Adicional12" placeholder="Adicional 12" value="0" />
                        </div>

                    </div>


                    <div class="row mt-2">

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 13</label>
                            <input type="number" step="0.01" class="form-control" id="Adicional13" name="Adicional13" placeholder="Adicional 13" value="0" />
                        </div>


                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 14</label>
                            <input type="number" step="0.01" class="form-control" id="Adicional14" name="Adicional14" placeholder="Adicional 14" value="0" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 15</label>
                            <input type="date" class="form-control" id="Adicional15" name="Adicional15" placeholder="Adicional 15" value="1900-01-01" />
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label>Adicional 16</label>
                            <input type="date" class="form-control" id="Adicional16" name="Adicional16" placeholder="Adicional 16" value="1900-01-01" />
                        </div>

                    </div>

                </div>


                <div class="modal-footer">
                    <div class="col-sm-12 text-center mt-5">
                        <button type="submit" class="btn btn-primary" id="BtnAdd" onclick="Add();">Guardar</button>
                        <button type="submit" class="btn btn-primary" id="BtnUpdate" onclick="Add();">Actualizar</button>
                        <button type="button" class="btn btn-secondary" id="BtnCancelar" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </form>

        </div>


    </div>


</div>

